<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529715404420-4bdajjg5hlbmdr9f4od0341uji7lt3dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529715404420-4bdajjg5hlbmdr9f4od0341uji7lt3dl</string>
	<key>API_KEY</key>
	<string>AIzaSyBrkV7KqZYotPpZ4wXPQFMveh_KaqqTO0I</string>
	<key>GCM_SENDER_ID</key>
	<string>529715404420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>movie-and-tv-series-app</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-and-tv-series-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529715404420:ios:fbd31ad602c16de4f12cd1</string>
</dict>
</plist>